body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-inner {
    height: 400px;
    border-radius: 20px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-avlod {
    margin-top: 100px;
}

nav {
    width: 100%;


}

.list-menu {
    display: flex;
    justify-content: space-around;
    width: 49%;
    align-items: center;
   float: right;
    margin-left: 200px;
}

.logo {
    left: 0;
    width: 49%;
    height: 100px;
    background: url("../img/logoAvlod.png") no-repeat center center;
    background-size: 100%;
    display: inline-block;
    float: left;
}
.login-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-btn div:nth-child(1){
    margin-right: 5px;}
.login-btn div:nth-child(1) ion-icon{
    margin-right: 4px;}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .carousel-inner {
        width: 70%;
    !important;
        height: 158px;
    }
}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { .list-menu {
    margin-left: 0;
}
}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}
